<div class="row">
    <div class="col-lg-2 col-10 offset-1">
        <div class="nav row">
            <div class="col navWrapper">
                <div class="row">
                    <div class="col-lg-12 col-12 nav__header"  >
                        <div class="nav__header__title"> Angular JS </div>
                        <div class="nav__header__desc">iJavaScript</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-3 nav__item"  >
                            <a routerLink="/home/dashboard" (click)="selectedLink()"> DASHBOARD</a>
                        </div>
                        <div class="col-lg-12 col-3 nav__item" >
                            <a routerLink="/home/about" (click)="selectedLink()"> ABOUT</a>
                        </div>
                        <div class="col-lg-12 col-3 nav__item">
                            <a routerLink="/home/team" (click)="selectedLink()"> TEAM</a>
                        </div>
                        <div class="col-lg-12 col-3 nav__item">
                            <a routerLink="/"> Logout</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-10 offset-1 inner_content">
        <router-outlet></router-outlet>
    </div>
</div>

