

<div class="container">
    <div class="row user">
        <div class="col-3 user__image">
            <img width="150px" src="../../../assets/images/background.jpg" img-fluid alt="image">
        </div>
        <div class="col-9">
            <h3> some title </h3>
            <h4> text </h4>
        </div>
    </div>
    <div class="acoount">
        <h4 class="text-danger"> Acoount Balance </h4>
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>5th Jan 2020</td>
                <td>Room Rent</td>
                <td>700</td>
              </tr>
              <tr>
                <td>1th Jan 2020</td>
                <td>Shopping</td>
                <td>200</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>