
.user{
    margin-top: 50px;
    border-bottom: 5px solid #666666;
    padding-bottom: 10px;

    &__image{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 150px;
        }
    }
}