

.card{
    width: 200px;
    height: 200px;
    background-color: salmon;
    margin-top: 10px;
    transition: all 1s;

    &:hover{
        background-color: black;
        color: salmon;;
    }
}
.title{
    font-weight: bolder;
    text-align: center;
}
