
<div class="container">
    <div class="form row">
        <div class="header">
            <div class="header__title"> Angular JS </div>
            <div class="header__desc">iJavaScript</div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="col-8 offset-2 form-inline" >
                <div class="form-group row error-message" *ngIf="error"> {{ error }} </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">User Id</label>
                    <input class="col-6 .form-control-lg" type="text" placeholder="User id" formControlName="id" >
                    <small
                        class="form-text col-6 offset-4"
                        *ngIf="(loginForm.get('id').hasError('minlength') || loginForm.get('password').hasError('maxlength') ) && loginForm.get('id').touched "
                        > Invalid User Id. Must be of 8-20 Charecters 
                    </small>
                    <small
                    class="form-text col-6 offset-4"
                    *ngIf="loginForm.get('id').hasError('required') && loginForm.get('id').touched "
                    > Feild Required 
                    </small>

                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label ">Password</label>
                    <input  class="col-6 .form-control-lg"  type="password" formControlName="password" placeholder="Password">
                    <small
                        class="form-text col-6 offset-4"
                        *ngIf="(loginForm.get('password').hasError('minlength') || loginForm.get('password').hasError('maxlength')) && loginForm.get('id').touched "
                        > Invalid Password. Must be of 8-20 Charecters 
                    </small>                
                    <small
                    class="form-text col-6 offset-4"
                    *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched "
                    > Feild Required 
                    </small>

                </div>
              <button type="submit" class="btn btn-one">Log In</button>
        </form>
    </div>
</div>