

.team{
    height: 30px;
    padding: 2px;
}

.container{
    padding: 0 100px;
}

.animate{
    animation: moveIn 2s;
}

@keyframes moveIn {
    0%   {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {transform: translateX(0);
        opacity: 1;
    }
  }